<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="microsoft.visualstudio.testtools" type="Microsoft.VisualStudio.TestTools.UnitTesting.TestConfigurationSection, Microsoft.VisualStudio.QualityTools.UnitTestFramework, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>  
  </configSections>
<connectionStrings>
  <add name="CalculatorDataSource" connectionString="C:\Users\Ирина\Desktop\TA\lecture4_UnitTestingFrameworks\UnitTestsForCalculatorProject\MSTestsCalculator\CalculatorTestData.xml" providerName="Microsoft.VisualStudio.TestTools.DataSource.XML"/>
</connectionStrings>
<microsoft.visualstudio.testtools>
  <dataSources>
    <add name="AbsDoubleData" connectionString="CalculatorDataSource" dataTableName="AbsMethodDouble" dataAccessMethod="Sequential"/>  
    <add name="AbsStringData" connectionString="CalculatorDataSource" dataTableName="AbsMethodString" dataAccessMethod="Sequential"/>
    <add name="AddDoubleData" connectionString="CalculatorDataSource" dataTableName="AddMethodDouble" dataAccessMethod="Sequential"/>
    <add name="AddStringData" connectionString="CalculatorDataSource" dataTableName="AddMethodString" dataAccessMethod="Sequential"/>
    <add name="CosDoubleData" connectionString="CalculatorDataSource" dataTableName="CosMethodDouble" dataAccessMethod="Sequential"/>
    <add name="CosStringData" connectionString="CalculatorDataSource" dataTableName="CosMethodString" dataAccessMethod="Sequential"/>
  </dataSources>
</microsoft.visualstudio.testtools>
</configuration>