<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="microsoft.visualstudio.testtools" type="Microsoft.VisualStudio.TestTools.UnitTesting.TestConfigurationSection, Microsoft.VisualStudio.QualityTools.UnitTestFramework, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>  
  </configSections>
<connectionStrings>
  <add name="CalculatorDataSource" connectionString="C:\Users\Ирина\Desktop\TA\lecture4_UnitTestingFrameworks\UnitTestsForCalculatorProject\MSTestsCalculator\CalculatorTestData.xml" providerName="Microsoft.VisualStudio.TestTools.DataSource.XML"/>
</connectionStrings>
<microsoft.visualstudio.testtools>
  <dataSources>
    <add name="AbsDoubleData" connectionString="CalculatorDataSource" dataTableName="AbsMethodDouble" dataAccessMethod="Sequential"/>  
    <add name="AbsStringData" connectionString="CalculatorDataSource" dataTableName="AbsMethodString" dataAccessMethod="Sequential"/>
    <add name="AddDoubleData" connectionString="CalculatorDataSource" dataTableName="AddMethodDouble" dataAccessMethod="Sequential"/>
    <add name="AddStringData" connectionString="CalculatorDataSource" dataTableName="AddMethodString" dataAccessMethod="Sequential"/>
    <add name="CosDoubleData" connectionString="CalculatorDataSource" dataTableName="CosMethodDouble" dataAccessMethod="Sequential"/>
    <add name="CosStringData" connectionString="CalculatorDataSource" dataTableName="CosMethodString" dataAccessMethod="Sequential"/>
    <add name="DivideDoubleData" connectionString="CalculatorDataSource" dataTableName="DivideMethodDouble" dataAccessMethod="Sequential"/>
    <add name="IsNegativeDoubleData" connectionString="CalculatorDataSource" dataTableName="IsNegativeMethodDouble" dataAccessMethod="Sequential"/>
    <add name="IsNegativeStringData" connectionString="CalculatorDataSource" dataTableName="IsNegativeMethodString" dataAccessMethod="Sequential"/>
    <add name="IsPositiveDoubleData" connectionString="CalculatorDataSource" dataTableName="IsPositiveMethodDouble" dataAccessMethod="Sequential"/>
    <add name="IsPositiveStringData" connectionString="CalculatorDataSource" dataTableName="IsPositiveMethodString" dataAccessMethod="Sequential"/>
    <add name="MultiplyDoubleData" connectionString="CalculatorDataSource" dataTableName="MultiplyMethodDouble" dataAccessMethod="Sequential"/>
    <add name="PowDoubleData" connectionString="CalculatorDataSource" dataTableName="PowMethodDouble" dataAccessMethod="Sequential"/>
    <add name="PowStringData" connectionString="CalculatorDataSource" dataTableName="PowMethodString" dataAccessMethod="Sequential"/>
    <add name="PowExceptionData" connectionString="CalculatorDataSource" dataTableName="PowMethodException" dataAccessMethod="Sequential"/>
    <add name="SinStringData" connectionString="CalculatorDataSource" dataTableName="SinMethodString" dataAccessMethod="Sequential"/>
    <add name="SinDoubleData" connectionString="CalculatorDataSource" dataTableName="SinMethodDouble" dataAccessMethod="Sequential"/>
    <add name="SqrtStringData" connectionString="CalculatorDataSource" dataTableName="SqrtMethodString" dataAccessMethod="Sequential"/>
    <add name="SqrtDoubleData" connectionString="CalculatorDataSource" dataTableName="SqrtMethodDouble" dataAccessMethod="Sequential"/>
    <add name="SqrtExceptionData" connectionString="CalculatorDataSource" dataTableName="SqrtMethodException" dataAccessMethod="Sequential"/>
    <add name="SubStringData" connectionString="CalculatorDataSource" dataTableName="SubMethodString" dataAccessMethod="Sequential"/>
    <add name="SubDoubleData" connectionString="CalculatorDataSource" dataTableName="SubMethodDouble" dataAccessMethod="Sequential"/>  
  </dataSources>
</microsoft.visualstudio.testtools>
</configuration>